

.movie__p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000 !important;
  text-decoration: none !important;
  margin-bottom: 10rem !important;
}
.movie__date {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  margin-top: -5px !important;
}
@media only screen and (min-width: 768px) { 
 .mobie-desk {
   display: none;
 }
}

@media only screen and (max-width: 767px) { 
  .mobie-mobile {
    display: none;
  }
}